.side-nav-header {
    height: 120px;
}

.side-nav-header h3 {
    width: 100%;
}

.logo {
    font-family: 'Pacifico';
}

main {
    padding-left: 300px;
}

.date-text {
    font-size: 0.9em;
}

.card-container {
    padding: 20px;
}

.topic-chip {
    color: white;
}
