<nav class="white fixed">
    <div class="nav-wrapper">
        <div class="row container">

            <span class="brand-logo center red-text text-darken-2">
                {{board.name}} by {{board.creator}}

            </span>

            <div class="card-action">
                <a href="" data-target=""
                    class="red-text text-darken-2"
                    ng-click="subscribe()"
                    ng-hide="board.subscribedToBoard">
                    <i class="material-icons">favorite_border</i>
                </a>
                <a href="" data-target=""
                    class="red-text text-darken-2"
                    ng-click="unsubscribe()"
                    ng-show="board.subscribedToBoard">
                    <i class="material-icons">favorite</i>
                </a>

            </div>


        </div>

    </div>
</nav>

 <div class="fixed-action-btn vertical">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li>
          <a class="btn-floating red" data-target="edit-board-modal">
              <i class="material-icons">mode_edit</i>
          </a>
      </li>
      <li><a class="btn-floating red"><i class="material-icons">delete</i></a></li>
    </ul>
  </div>

<pin-posts-container></pin-posts-container>
<pin-edit-board></pin-edit-board>
