<div id="edit-post-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="red-text text-darken-2">Edit Post</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"
                            ng-model="post.content"></textarea>
                        <label for="textarea1">Post</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" class="validate" id="topic"
                            ng-model="post.topic" />
                        <label for="topic">Topic</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class=" modal-action modal-close btn-flat" ng-click="editPost()">Save</a>
        <a href="#" class=" modal-action modal-close btn-flat">Cancel</a>
    </div>
</div>
<script>
    $('.modal').modal();
</script>
