<div id="edit-board-modal" class="modal">
    <div class="modal-content">
        <h4 class="red-text text-darken-2">Edit Board</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="board_name"
                            ng-model="board_name" />
                        <label for="board_name">Name</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class=" modal-action modal-close btn-flat"
            ng-disabled="board_name.length === 0"
            ng-click="editBoard()">
            Save
        </button>
        <button class=" modal-action modal-close btn-flat">Cancel</button>
    </div>
</div>
<script>
    $('.modal').modal();
</script>
