<div id="edit-board-modal" class="modal">
    <div class="modal-content">
        <h4 class="red-text text-darken-2">Edit Board</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="board_name"
                            ng-model="board_name" />
                        <label for="board_name">Name</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close btn-flat" ng-click="editBoard()">Save</a>
        <a class=" modal-action modal-close btn-flat">Cancel</a>
    </div>
</div>
<script>
    $('.modal').modal();
</script>
