<div id="manage-boards-modal" class="modal">
    <div class="modal-content">
        <h4 class="red-text text-darken-2">Manage Boards</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <form action="#">
                        <p ng-repeat="board in boardsByUser">
                          <input type="checkbox" class="filled-in"
                            ng-click="updatePostBoards(board)"
                            ng-checked="postIsInBoard(board.board_id)"
                            id="filled-in-box{{board.board_id}}" />
                          <label for="filled-in-box{{board.board_id}}">{{board.board_name}}</label>
                        </p>
                     </form>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close btn-flat" ng-click="editPostBoards()">Save</a>
        <a class=" modal-action modal-close btn-flat">Cancel</a>
    </div>
</div>
<script>
    $('.modal').modal();
</script>
