<ul id="slide-out" class="side-nav fixed" ng-init="loadUserData()">
    <li>
        <div class="side-nav-header valign-wrapper red darken-2">
            <h3 class="logo white-text valign center-align">Pintres</h3>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col s8">
                <input type="text" placeholder="Search" ng-model="keyword"/>
            </div>
            <div class="col s4">
                <a class="red-text btn-flat"
                    ng-href="#/search?keyword={{keyword}}">
                    <i class="material-icons">search</i>
                </a>
            </div>
        </div>
    </li>
    <li>
        <a href="#/feed">My Feed</a>
    </li>
    <li>
        <a ng-href="#/user/{{username}}">{{username}}</a>
    </li>
    <li>
        <a href="/api/logout">Logout</a>
    </li>
</ul>
